h1 {
    color: rgb(94, 140, 205);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 5px;
}

p.highlight {
    background-color: yellow;
}

a.btn:hover {
    background-color: #ff6600;
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: circle;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
}

table {
    margin: 20px;
    margin-top: 1rem;
    border-collapse: collapse;
    width: fit-content;
    overflow: hidden;
    border: 2px solid rgb(29, 28, 28);
    background-color: rgb(228, 230, 230);
}

thead {
    background-color: rgb(54, 115, 115);
    color: white;
    font-size: large;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="submit"] {
    background-color: rgb(54, 115, 115);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    margin-left: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(222, 241, 241);
}

.white, .magenta, .blue, .green, .red{
    width:20px;
    height:20px;
}

.white {
    background-color: white;
}

.magenta {
    background-color: magenta;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}